<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/header" title="Login" /}
    {load href="/static/css/login.css" /}
</head>
<body class="login-bg">
<div class="login">
    <div class="message">WoNiu EX System</div>
    <div id="darkbannerwrap"></div>
    <form class="layui-form  layui-form-pane" action="">
        <input type="text" id="username" name="username" lay-verify="required|username" placeholder="username"
               autocomplete="off" style="font-size: 18px;">
        <hr class="hr15">
        <input type="password" id="password" name="password" lay-verify="required|password" placeholder="password"
               autocomplete="off" style="font-size: 18px;">
        <hr class="hr15">
        <input class="loginin" value="Login" lay-submit lay-filter="login" style="width:100%;" type="submit">
    </form>
</div>
<script>
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer
            , form = layui.form
            , $ = layui.$;

        form.verify({
            username: function (value, item) {
                if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) {
                    return 'username cannot have special characters.';
                }
                if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                    return 'username must not have special characters and must not be underlined\'_\'';
                }
            }
            , password: [
                /^[\S]{6,12}$/
                ,'Passwords must be 6-12 bits long and no Spaces are allowed'
            ]
        });

        // 登录验证
        form.on('submit(login)', function (data) {
            var my_load = layer.load(); // 加载层
            var login_url = "{:url('index/Login/check')}";

            $.post(login_url, data.field, function(result){
                if(result.code === 0){
                    layer.close(my_load); // 关闭 加载层
                    layer.msg(result.message, {icon: 1, time: 3000}, function () {
                        window.location.replace("{:url('index/user/index')}"); //回调
                    });
                }else{
                    layer.msg(result.message, {icon: 2, time: 3000}, function () {
                        layer.close(my_load); // 关闭 加载层
                    });
                }
            }, "json");
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

    });
</script>
</body>
</html>