<!DOCTYPE html>
<html>
<head>
    {include file="public/header" title="Case List" /}
    <link rel="stylesheet" href="/layuiadmin/style/template.css?20190604" media="all">
</head>
<body>
<div class="layui-fluid" id="LAY-app-message">
    <div class="LAY-app-message-btns" style="margin-bottom: 10px;">
        <button class="layui-btn" id="create">New Case</button>
    </div>
    <div class="layadmin-caller">
        <div class="layui-tab layui-tab-brief caller-tab" lay-filter="case">
            <ul class="layui-tab-title">
                <li class="layui-this">All ({$total})</li>
                <li>Unread ({$unread_total})</li>
                <li>Unanswered ({$unanswered_total})</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="caller-contar">
                        {volist name='list' id='vo'}
                        <div class="caller-item">
                            <div class="caller-img caller-fl" style="width: 50px;">
                                <img height="50" width="50" src="{if $vo.send_user.avatar==''}/static/images/avatar.jpg{else /}{$vo.send_user.avatar}{/if}" />
                                <br /><span>{$vo.send_user.nickname}</span>
                            </div>
                            <div class="caller-main caller-fl">
                                <p><strong>{$vo.title}</strong></p>
                                <p class="caller-adds">{$vo.description|raw}</p>
                                <div class="caller-iconset">
                                    To User : {$vo.to_user.nickname} / Time: {$vo.update_time}
                                </div>
                            </div>
                            <button class="layui-btn layui-btn-sm caller-fr"  name="read" value="{$vo.id}">
                                <i class="layui-icon layui-icon-ok"></i>
                                Reply
                            </button>
                        </div>
                        {/volist}
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="caller-contar">
                        {volist name='unread' id='vo'}
                        <div class="caller-item">
                            <div class="caller-img caller-fl" style="width: 50px;">
                                <img height="50" width="50" src="{if $vo.send_user.avatar==''}/static/images/avatar.jpg{else /}{$vo.send_user.avatar}{/if}" />
                                <br /><span>{$vo.send_user.nickname}</span>
                            </div>
                            <div class="caller-main caller-fl">
                                <p><strong>{$vo.title}</strong></p>
                                <p class="caller-adds">{$vo.description|raw}</p>
                                <div class="caller-iconset">
                                    To User : {$vo.to_user.nickname} / Time: {$vo.update_time}
                                </div>
                            </div>
                            <button class="layui-btn layui-btn-sm caller-fr"  name="read" value="{$vo.id}">
                                <i class="layui-icon layui-icon-ok"></i>
                                Reply
                            </button>
                        </div>
                        {/volist}
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="caller-contar">
                        {volist name='unanswered' id='vo'}
                        <div class="caller-item">
                            <div class="caller-img caller-fl" style="width: 50px;">
                                <img height="50" width="50" src="{if $vo.send_user.avatar==''}/static/images/avatar.jpg{else /}{$vo.send_user.avatar}{/if}" />
                                <br /><span>{$vo.send_user.nickname}</span>
                            </div>
                            <div class="caller-main caller-fl">
                                <p><strong>{$vo.title}</strong></p>
                                <p class="caller-adds">{$vo.description|raw}</p>
                                <div class="caller-iconset">
                                    To User : {$vo.to_user.nickname} / Time: {$vo.update_time}
                                </div>
                            </div>
                            <button class="layui-btn layui-btn-sm caller-fr"  name="read" value="{$vo.id}">
                                <i class="layui-icon layui-icon-ok"></i>
                                Reply
                            </button>
                        </div>
                        {/volist}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['laypage', 'layer','form','table','element'], function() {
        var laypage = layui.laypage
            , layer = layui.layer
            , form = layui.form
            , table = layui.table
            , element = layui.element
            , $ = layui.$;

        // 新增 记录
        $('#create').on("click",function () {
            layer.open({
                type: 2,
                title: 'Create Case',
                shadeClose: true,
                shade: 0.8,
                area: ['90%', '90%'],
                content: ['{:url("index/Message/create")}','yes'],
                end: function(){
                    // layer.msg('已经增加',{icon:1,time:3000});
                    location.reload(); // 重新加载页面
                }
            });
        });

        $('button').on('click',function () {
            var dataName = this.name
                , id = this.value
                ,url;
            if(dataName === 'read'){
                url = "{:url('index/Message/read')}?id=" + id;
                layer.open({
                    type: 2,
                    title: 'Reply Case',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['90%', '90%'],
                    content: [url,'yes'],
                    end: function(){
                        // layer.msg('已经增加',{icon:1,time:3000});
                        location.reload(); // 重新加载页面
                    }
                });
            }
        });

    });
</script>

</body>
</html>