<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/header" title="Case List" /}
</head>
<body>

<div class="layui-fluid" id="LAY-app-message">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">Case List</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="LAY-app-message-btns" style="margin-bottom: 10px;">
                        <button class="layui-btn" id="create">New Case</button>
                    </div>

                    <div class="layui-form">
                        <table class="layui-table" lay-skin="line" lay-filter="member">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>to user</th>
                                <th>title</th>
                                <th>time</th>
                                <th>handle</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name='list' id='vo'}
                            <tr>
                                <td>{$vo.id}</td>
                                <td>
                                    <img height="25" width="25" src="{if $vo.to_user_avatar==''}/static/images/avatar.jpg{else /}{$vo.to_user_avatar}{/if}" />
                                    <span style="font-size: 16px;">{$vo.to_user_nickname}</span>
                                </td>
                                <td>{$vo.title}</td>
                                <td>{$vo.update_time}</td>
                                <td>
                                    <button class="layui-btn layui-btn-xs" name="edit" value="{$vo.id}"><i class="layui-icon layui-icon-edit"></i>Edit</button>
                                    <button class="layui-btn layui-btn-danger layui-btn-xs" name="delete" value="{$vo.id}"><i class="layui-icon layui-icon-delete"></i>Delete</button>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                        <div class="layui-box layui-laypage">{$page|raw}</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    layui.use(['laypage', 'layer','form','table'], function() {
        var laypage = layui.laypage
            , layer = layui.layer
            , form = layui.form
            , table = layui.table
            , $ = layui.$;

        // 新增 记录
        $('#create').on("click",function () {
            layer.open({
                type: 2,
                title: 'Create Subject',
                shadeClose: true,
                shade: 0.8,
                area: ['90%', '90%'],
                content: ['{:url("index/Message/create")}','no'],
                end: function(){
                    // layer.msg('已经增加',{icon:1,time:3000});
                    location.reload(); // 重新加载页面
                }
            });
        });

        $('button').on('click',function () {
            var dataName = this.name
                , id = this.value
                ,url;
            if(dataName === 'edit'){
                url = "{:url('index/Message/edit')}?id=" + id;
                layer.open({
                    type: 2,
                    title: 'Edit Subject',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['90%', '90%'],
                    content: [url,'yes'],
                    end: function(){
                        // layer.msg('已经增加',{icon:1,time:3000});
                        location.reload(); // 重新加载页面
                    }
                });

            } else if (dataName === 'delete'){

                layer.open({
                    title: 'Confirm'
                    ,content: 'confirm delete the Subject?'
                    ,btn: ['Yes']
                    ,btnAlign: 'c'
                    ,shade: [0.8, '#000000']
                    ,shadeClose: true
                    ,closeBtn:2
                    ,yes:function (logoutBtn, layero) {
                        url = "{:url('index/Message/delete')}?id=" + id;
                        $.ajax({
                            url:url,
                            type:"delete",
                            contentType:"application/json",
                            dataType:"json",
                            data:id,
                            success:function(result){
                                layer.msg(result.message,{icon:1});
                                location.reload(); // 重新加载页面
                            },
                            error:function(result){
                                layer.msg(result.message,{icon:2});
                            }
                        });
                        layer.close(logoutBtn);
                    }
                    ,cancel:function () {
                        layer.msg('cancel',{icon:2});
                    }
                });

            }
        });
    });
</script>
</body>
</html>