<!DOCTYPE html>
<html>
<head>
    {include file="public/header" title="edit cos config" /}
</head>
<body>
<div class="layui-container app-body" style="margin-top: 10px;background: #ffffff;">
    <div style="height: 20px;"></div>
    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">region</label>
            <div class="layui-input-inline">
                <select name="region_id" lay-filter="region">
                    <option value="{$my_region.id}">{$my_region.title}|{$my_region.short_name}|{$my_region.name}</option>
                    {volist name="region" id="vo"}
                    <option value="{$vo.id}">{$vo.title}|{$vo.short_name}|{$vo.name}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">app_id</label>
            <div class="layui-input-inline">
                <input type="text" name="app_id" autocomplete="off" class="layui-input" value="{$cos.app_id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">secret_id</label>
            <div class="layui-input-inline">
                <input type="text" name="secret_id" autocomplete="off" class="layui-input" value="{$cos.secret_id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">secret_key</label>
            <div class="layui-input-inline">
                <input type="text" name="secret_key" autocomplete="off" class="layui-input" value="{$cos.secret_key}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">bucket_name</label>
            <div class="layui-input-inline">
                <input type="text" name="bucket_name" autocomplete="off" class="layui-input" value="{$cos.bucket_name}">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 20px;">
            <button class="layui-btn" lay-submit="" lay-filter="edit" style="width: 100%;">save</button>
        </div>
    </form>
    <div style="height: 20px;"></div>
</div>

<script>
    layui.use(['layer','form','upload'],function () {
        var layer = layui.layer
            , form = layui.form
            , upload = layui.upload
            , $ = layui.$;

        form.on('submit(edit)',function (data) {
            var url = "/index/cos/update";
            $.post(url,data.field,function (result) {
                if(result.code === 0){
                    layer.msg(result.message,{icon:1});
                    var index = parent.layer.getFrameIndex(window.name); // 获得frame索引
                    parent.layer.close(index);  //关闭当前frame
                }else{
                    layer.msg(result.message,{icon:2});
                }
            });
            return false; // 阻止表单跳转
        });

    });

</script>
{include file="public/footer" /}
</body>
</html>