<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/header" title="文件上传" /}
</head>
<body>
<div class="layui-container app-body" style="margin-top: 10px;background: #ffffff;">
    <div style="height: 20px;"></div>
    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item">
            <div style="width: 200px;height:50px;float: left;padding-right: 15px;">
                <input type="text" id="local_host" name="local_host" value="上传到本地服务器" class="layui-input">
            </div>
            <div style="float: left;">
                <button type="button" class="layui-form-label" id="upload_local_host">
                    <i class="layui-icon">&#xe67c;</i>Select file
                </button>
            </div>
        </div>

        <div class="layui-form-item">
            <div style="width: 200px;float: left;padding-right: 15px;">
                <input type="text" id="cos_host" name="avatar" value="上传到腾讯云存储" class="layui-input">
            </div>
            <div style="float: left;">
                <button type="button" class="layui-form-label" id="upload_cos_host">
                    <i class="layui-icon">&#xe67c;</i>Select file
                </button>
            </div>
        </div>

    </form>
    <div style="height: 20px;"></div>
</div>
<script>
    layui.use(['layer','form','upload'], function(){
        var layer = layui.layer
            ,upload = layui.upload
            ,$ = layui.$;

        // 上传文件到本地服务器
        upload.render({
            elem: '#upload_local_host' //绑定元素
            ,url: "/index/upload/file" //上传接口
            ,accept: 'file'
            , before: function (obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                layer.load(); //上传loading
            }
            ,done: function(res){
                console.log(res);
                //上传完毕回调
                if (res.code === 0) {
                    $('#local_host').val(res.data.url); // 显示上传之后的url
                    layer.msg('上传成功',{icon:1},function () {
                        layer.closeAll();
                    });
                } else {
                    layer.msg(res.message,{icon:2},function () {
                        layer.closeAll();
                    });
                }
            }
            ,error: function(res){
                layer.msg('上传异常',{icon:2});
            }
        });

        // 上传文件到腾讯云存储
        upload.render({
            elem: '#upload_cos_host' //绑定元素
            ,url: "/index/upload/cos" //上传接口
            ,accept: 'file'
            , before: function (obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                layer.load(); //上传loading
            }
            ,done: function(res){
                console.log(res);
                //上传完毕回调
                if (res.code === 0) {
                    $('#cos_host').val(res.data.url); // 显示上传之后的url
                    layer.msg('上传成功',{icon:1},function () {
                        layer.closeAll();
                    });
                } else {
                    layer.msg(res.message,{icon:2},function () {
                        layer.closeAll();
                    });
                }
            }
            ,error: function(res){
                layer.msg('上传异常',{icon:2});
            }
        });

    });
</script>
</body>
</html>