<meta charset="UTF-8">
<title>[title] -  Administrator Manage System</title>
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!-- Set render engine for 360 browser -->
<meta name="renderer" content="webkit">
<!-- No Baidu Siteapp-->
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<link rel="icon" type="image/png" href="{$site.icon}">
{load href="/layui/css/layui.css,/layui/layui.js,/layuiadmin/style/admin.css,/static/css/list.css,/static/my_font/iconfont.css" /}