<div class="layui-header">
    <!-- 头部区域 -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:;" layadmin-event="flexible" title="flexible">
                <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
        </li>
        <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;" layadmin-event="refresh" title="refresh">
                <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
        </li>
        <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <input type="text" placeholder="Search" autocomplete="off" class="layui-input layui-input-search" layadmin-event="search" lay-action="{:url('index/Message/search')}?keywords=">
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
        <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="theme">
                <i class="layui-icon layui-icon-theme"></i>
            </a>
        </li>
        <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="fullscreen">
                <i class="layui-icon layui-icon-screen-full"></i>
            </a>
        </li>
        <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;">
                <cite>
                    {if $user.nickname==''}
                    {$user.username}
                    {else}
                    {$user.nickname}
                    {/if}
                </cite>
            </a>
            <dl class="layui-nav-child">
                <dd><a lay-href="{:url('index/User/set')}">Edit</a></dd>
                <hr>
                <dd lay-href="{:url('index/Logout/index')}" style="text-align: center;"><a>Logout</a></dd>
            </dl>
        </li>
    </ul>
</div>