<!DOCTYPE html>
<html>
<head>
    {include file="public/header" title="edit site info" /}
</head>
<body>
<div class="layui-container app-body" style="margin-top: 10px;background: #ffffff;">
    <div style="height: 20px;"></div>
    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">site name</label>
            <div class="layui-input-inline">
                <input type="text" name="title" lay-verify="title" autocomplete="off" class="layui-input" value="{$site.title}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">description</label>
            <div class="layui-input-inline">
                <input type="text" name="description" lay-verify="description" autocomplete="off" class="layui-input" value="{$site.description}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">thumb</label>
            <div style="width: 50px;float: left;padding-right: 15px;">
                <input type="hidden" id="thumb" name="thumb" value="">
                <img height="40" width="40" id="my_thumb" src="{if $site.thumb==''}/static/images/chat.png{else /}{$site.thumb}{/if}" />
            </div>
            <div style="float: left;">
                <button type="button" class="layui-form-label" id="upload_thumb">
                    <i class="layui-icon">&#xe67c;</i>Select file
                </button>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">logo</label>
            <div style="width: 100px;float: left;padding-right: 15px;">
                <input type="hidden" id="logo" name="logo" value="">
                <img height="30" width="90" id="my_logo" src="{if $site.logo==''}/static/images/chat.jpg{else /}{$site.logo}{/if}" />
            </div>
            <div style="float: left;">
                <button type="button" class="layui-form-label" id="upload_logo">
                    <i class="layui-icon">&#xe67c;</i>Select file
                </button>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">icon</label>
            <div style="width: 16px;float: left;padding-right: 15px;">
                <input type="hidden" id="icon" name="icon" value="">
                <img height="16" width="16" id="my_icon" src="{if $site.icon==''}/static/images/avatar.jpg{else /}{$site.icon}{/if}" />
            </div>
            <div style="float: left;">
                <button type="button" class="layui-form-label" id="upload_icon">
                    <i class="layui-icon">&#xe67c;</i>Select file
                </button>
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 20px;">
            <button class="layui-btn" lay-submit="" lay-filter="edit" style="width: 100%;">save</button>
        </div>
    </form>
    <div style="height: 20px;"></div>
</div>

<script>
    layui.use(['layer','form','upload'],function () {
        var layer = layui.layer
            , form = layui.form
            , upload = layui.upload
            , $ = layui.$;

        // 上传网站封面图
        upload.render({
            elem: '#upload_thumb' //绑定元素
            ,url: "/index/upload/file" //上传接口
            , before: function (obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                layer.load(); //上传loading
            }
            ,done: function(res){
                console.log(res);
                //上传完毕回调
                if (res.code === 0) {
                    layer.msg('上传成功',{icon:1});
                    $('#thumb').val(res.data.url); // 显示上传之后的url
                    document.getElementById('my_thumb').src = res.data.url;
                    layer.closeAll();
                } else {
                    layer.msg('上传失败',{icon:2});
                }
            }
            ,error: function(res){
                layer.msg('上传异常',{icon:2});
            }
        });

        upload.render({
            elem: '#upload_logo' //绑定元素
            ,url: "/index/upload/file" //上传接口
            , before: function (obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                layer.load(); //上传loading
            }
            ,done: function(res){
                console.log(res);
                //上传完毕回调
                if (res.code === 0) {
                    layer.msg('上传成功',{icon:1});
                    $('#logo').val(res.data.url); // 显示上传之后的url
                    document.getElementById('my_logo').src = res.data.url;
                    layer.closeAll();
                } else {
                    layer.msg('上传失败',{icon:2});
                }
            }
            ,error: function(res){
                layer.msg('上传异常',{icon:2});
            }
        });

        upload.render({
            elem: '#upload_icon' //绑定元素
            ,url: "/index/upload/file" //上传接口
            ,accept: 'file'
            , before: function (obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                layer.load(); //上传loading
            }
            ,done: function(res){
                console.log(res);
                //上传完毕回调
                if (res.code === 0) {
                    layer.msg('上传成功',{icon:1});
                    $('#icon').val(res.data.url); // 显示上传之后的url
                    document.getElementById('my_icon').src = res.data.url;
                    layer.closeAll();
                } else {
                    layer.msg('上传失败',{icon:2});
                }
            }
            ,error: function(res){
                layer.msg('上传异常',{icon:2});
            }
        });

        form.on('submit(edit)',function (data) {
            var url = "/index/site/update";
            $.post(url,data.field,function (result) {
                if(result.code === 0){
                    layer.msg(result.message,{icon:1});
                    var index = parent.layer.getFrameIndex(window.name); // 获得frame索引
                    parent.layer.close(index);  //关闭当前frame
                }else{
                    layer.msg(result.message,{icon:2});
                }
            });
            return false; // 阻止表单跳转
        });

    });

</script>
{include file="public/footer" /}
</body>
</html>